################################################
###############  .gitignore   ##################
################################################

.tmp
.git
.settings

################################################
# Dependencies
################################################

node_modules
bower_components
dist

################################################
# NPM / YARN
################################################

npm-debug.log
yarn-error.log
*.log

################################################
# Miscellaneous
################################################

*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
deploy.sh
